html {
    height: 100%;
}

h1 {
    color: #666;
    position: absolute;
    top: 10px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff6e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    background: url(dragon-images/body.png) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 128px;
    position: absolute;
    z-index: 1;
}

.dragon-container {
    position: relative;
}

.mouth {
    background: url(dragon-images/mouth.png) no-repeat;
    background-size: contain;
    width: 78px;
    height: 56px;
    position: absolute;
    left: 38px;
    top: 50px;
    z-index: 2;
    animation: openMouth 1s ease infinite;
}

.eye {
    background: url(dragon-images/eye.png) no-repeat;
    background-size: contain;
    width: 11px;
    height: 11px;
    position: absolute;
    z-index: 15;
}

.left-eye {
    left: 40px;
    top: 30px;
}

.right-eye {
    left: 100px;
    top: 30px;
    transform: rotate(180deg);
}

.blush {
    background: url(dragon-images/blush.png) no-repeat;
    background-size: contain;
    width: 15px;
    height: 9px;
    position: absolute;
    animation: blush 1s ease infinite alternate;
}

.left-blush {
    left: 36px;
    top: 35px;
}

.right-blush {
    left: 101px;
    top: 35px;
    transform: rotate(180deg);
}

.dragon {
    width: 200px;
    height: 140px;
    position: relative;
    animation: zoom 0.5s ease-in-out infinite alternate;
}

.fire-container {
    position: absolute;
    top: 50px;
    left: 60px;
    animation: fireUp 1s ease-in infinite;
}

.fire {
    background: url(dragon-images/fire.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 60px;
    animation: fire 1s ease-out infinite;
}

.tail {
    background: url(dragon-images/tail-sting.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 38px;
    position: absolute;
    left: 128px;
    top: 67px;
    z-index: 0;
    animation: tailGrow 0.5s ease-in-out infinite alternate;
}

.left-horn {
    background: url(dragon-images/horn-left.png) no-repeat;
    background-size: contain;
    width: 31px;
    height: 31px;
    position: absolute;
    left: 10px;
    top: -8px;
    transform: rotate(-5deg);
    transform-origin: 130% 180%;
    animation: swingRight 0.5s ease-in-out infinite alternate;
}

.right-horn {
    background: url(dragon-images/horn-right.png) no-repeat;
    background-size: contain;
    width: 34px;
    height: 31px;
    position: absolute;
    left: 110px;
    top: -8px;
    transform: rotate(5deg);
    transform-origin: -30% 180%;
    animation: swingRight 0.5s ease-in-out infinite alternate-reverse;
}

.shadow-wrapper {
    position: absolute;
    top: 110px;
    width: 100%;
}

.shadow {
    margin: 0 auto;
    width: 110px;
    height: 30px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    z-index: 0;
    animation: zoom .5s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
}

.progress {
    margin-top: 30px;
    width: 100%;
}

.progress .outer {
    width: 100%;
    height: 14px;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.progress .inner {
    width: 0;
    height: 100%;
    background: #ffcd33;
    animation: loading 2s linear infinite;
}

@keyframes openMouth {
    0% {
        clip-path: ellipse(20% 0% at 50% 0)
    }

    50% {
        clip-path: ellipse(100% 100% at 50% 0)
    }

    70% {
        clip-path: ellipse(100% 100% at 50% 0)
    }

    100% {
        clip-path: ellipse(20% 0% at 50% 0)
    }
}

@keyframes blush {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes fireUp {
    0% {
        top: 70px;
    }

    20% {
        top: 70px;
    }

    100% {
        top: -80px;
    }
}

@keyframes fire {
    0% {
        transform: scale(0, 0);
        opacity: 0.8;
    }

    20% {
        transform: scale(0, 0);
        opacity: 0.8;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes tailGrow {

    0% {
        transform: scaleY(0.9);
    }

    100% {
        transform: scaleY(1.1);
    }
}

@keyframes swingLeft {

    0% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

@keyframes swingRight {

    0% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

@keyframes zoom {

    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.1, 1.1);
    }
}

@keyframes loading {
    100% {
        width: 100%;
    }
}